@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --brand: #ff7a00;
  --brand-opacity: rgba(255, 122, 0, 0.1); /* 10% 투명도 적용 */
  --font-accents: #ed1c24;

  --font-1: #11141f;
  --font-2: #4a4d5e;
  --bg-dark: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* 배경색을 그림자로 덮어씌워 보이지 않게 함 */
  -webkit-box-shadow: 0 0 0px 1000px #161922 inset !important; /* 글자 색상 고정 */
  -webkit-text-fill-color: #ffffff !important;
  /* 배경색 전환 애니메이션을 아주 길게 설정하여 색 변화 방지 */
  transition: background-color 5000s ease-in-out 0s;
}

.dark {
  --font-1: #ecedf5;
  --font-2: #989db8;
  --font-3-disabled: #5c6180;
  --font-accents: #ed1c24;
  --border: #2a2f4a;
  --bg-dark: #11141f;
  --bg-darker: #0a0c14;
  --bg-card: #181c2e;
  --bg-card-hover: #1f2440;
  --bg-card-selected: #252b50;
  --button-dark-hover: #161a28;
  --button-dark-selected: #1c2138;
}

@theme inline {
  --shadow-card-heavy: 0 10px 40px 0 rgba(0, 0, 0, 0.5);

  --color-font-1: var(--font-1);
  --color-font-2: var(--font-2);
  --color-font-disabled: var(--font-3-disabled);
  --color-border-main: var(--border);
  --color-bg-dark: var(--bg-dark);
  --color-bg-darker: var(--bg-darker);
  --color-card: var(--bg-card);
  --color-card-hover: var(--bg-card-hover);
  --color-card-selected: var(--bg-card-selected);
  --color-btn-hover: var(--button-dark-hover);
  --color-btn-selected: var(--button-dark-selected);
  --color-brand: var(--brand);
  --color-brand-opacity: var(--brand-opacity);
  --color-font-accents: var(--font-accents);
}

body {
  background-color: var(--bg-dark);
  color: var(--font-1);

  letter-spacing: -0.025em;
  line-height: 1.4;
}
